* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.container-reports {
    min-width: 95%;
    width: 95%;
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

@media (max-width: 800px) {
    .container-reports {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .container-reports {
        grid-template-columns: repeat(1, 1fr);
    }

    .input-search-container {
        display: none;
    }
}

.item-report {
    /* border: solid black 3px; solo para ver si delimitaba bien el espacio */
    display: flex;
    width: 100%;
    background: #F6F4F4;
    border-radius: 4px 4px;
}

.title-h1 {
    margin: 15px 0;
}

.text-report {
    height: 250px;
    max-width: 50%;
    padding: 0 20px;
}

.image-report {
    max-width: 50%;
}


.img-cover {
    height: 250px;
    width: 100%;
    padding: 10px 10px;
}



.text-p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

.nav-vertical {
    width: 10%;
}

/* .contenido {
    display: flex;
} */

nav {
    color: #4a9b47
}

.list-icons {
    margin: 0;
    padding: 0;
}

.list-icons li {
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
}

.myIcon {
    color: black;
    margin-bottom: 15px;
    padding: 0 5px;
}

.nav-search {
    /* position: fixed; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 38px;
    background: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.icons-bar {
    display: flex;
    gap: 10px;
}

.left-text {
    font-size: 18px;
    padding-left: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input-search {
    margin: 0;
    padding: 0;
    margin-right: 8px;
    background: rgb(33, 32, 32);
    border: 0;
    color: #F6F4F4;
    padding-left: 7px;
}

.effectIcon {
    cursor: pointer;
}

.icons-bar {
    margin-right: 9px;
    color: white;
}

img {
    width: auto;
    height: auto;
    max-height: 190px;
    margin-left: 1%;
    align-items: right !important;
    align-content: right !important;
    align-self: right !important;
    padding-top: 7%;
    padding-left: 5%;
}

.img2 {
    width: auto;
    height: auto;
    max-height: 70px;
    margin-left: 1%;
    align-items: right !important;
    align-content: right !important;
    align-self: right !important;
    padding-top: 7%;
    padding-left: 5%;
}