<div style="width: 85vw !important; align-content: center !important; padding-top: 2%;">
    <h1>Reportes</h1>
    
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report1" class="alert-link">Reporte visitación por género</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report2" class="alert-link">Reporte visitación por edades</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report3" class="alert-link">Reporte visitación Nacionales vs Extranjeros</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report4" class="alert-link">Reporte País de Residencia</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report5" class="alert-link">Reporte Departamento de Residencia</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report6" class="alert-link">Reporte Motivo de Visitación</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report7" class="alert-link">Reporte Actividades a Realizar</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report8" class="alert-link">Reporte Medios de Comunicación</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report9" class="alert-link">Reporte ¿Cómo Viaja?</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report10" class="alert-link">Reporte Motivo de Visitación por Edades</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report11" class="alert-link">Reporte Actividades por Edades</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report12" class="alert-link">Reporte Pais de Residencia por Edades</a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report13" class="alert-link">Reporte País de Residencia - Motivo de Visitación</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report14" class="alert-link">Reporte País de Residencia - Medios de Comunicación</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
                <a href="menu/report15" class="alert-link">Reporte País de Residencia - Acompañantes</a>
            </div>
        </div>
    </div>

</div>